fairseq
numpy
torchaudio
levenshtein
tokenizers
librosa
torchvision
kss
lxml
dataclasses
six
soundfile
transformers
whoosh
wget
argparse
pytest
typing
scipy
joblib
tqdm
torch
astropy
wcwidth
requests
regex
konlpy
beautifulsoup4
sentence_transformers
youtube_transcript_api
opencv-python
